*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #ffff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

/** Header **/
#header{
    width: 100%;
    position: relative;
}
/** Img Header **/
.img-header{
    background: url(../images/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(0,0,0,0.6);
    background-blend-mode: soft-light;
    
    position: relative;
    width: 100%;
    height: 100vh;
}
.img-header .header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.img-header .header-info h2{
    color:#fff;
    font-size: 70px;
    font-weight: normal;
}
.img-header .header-info hr{
    border:none;
    outline: none;
    height: 2px;
    background: #fff;
    width: 600px;
    margin:15px 0px;
}
.img-header .header-info p{
    color:#fff;
    font-size: 20px;
}

/** Navegation Menu **/
.menu{
    width: 100%;
    height: 66px;
    background: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #6639a6;
}
.menu .btn-menu{display: none;}
.menu .log-box{margin-left: 50px;}
.menu .log-box h1{
    font-weight: normal;
    font-size:30px;
    color:#000;
}
.menu .list-container{margin-right:50px; transition: 0.5s;}
.menu .list-container .lists{display: flex;}
.menu .list-container .lists li{list-style: none;}
.menu .list-container .lists li a{
    text-decoration: none;
    color:#000;
    border-radius: 15px;
    font-size: 19px;
    padding:5px;
    margin:0px 10px;
    transition: 0.3s;
}
.menu .list-container .lists li a.active{
    background:#6639a6;
    color:#fff;
}
.menu .list-container .lists li a:hover{
    background:#6639a6;
    color:#fff;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/** Main **/
#main{
    width: 100%;
}

/** Mission **/
.mission{
   width: 100%;
} 
.mission-info{
    width: 80%;
    margin:100px auto;
}
.mission-info h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: normal;
    color:#000;
}
.mission-info p{
    font-size: 19px;
    color:#000;
    line-height: 40px;
    margin:30px 0px;
    text-align: center;
}
.mission .spacey-img{
    width: 50%;
    margin:auto;
}
.mission .spacey-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    transform:rotate(-3deg);
    cursor: pointer;
}

/** Elon Musk **/
.elon-musk{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top:100px;
}
.elon-musk .figure-img{
    background: url(../images/elon-musk.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: soft-light;

    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elon-musk .figure-img h4{
    width: 80%;
    color:#fff;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    line-height: 60px;
}
.skew-abajo{
	position: absolute;
	bottom: 0;
	left: 0;
	border-width: 0 0 5vh 100vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}
.skew-arriba{
	position: absolute;
	top: 0;
	left: 0;
	border-width: 5vh 100vw 0 0;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	z-index: 10;
}

/** Gallery **/
.gallery-section{
    width:100%;
    margin:150px 0px ;
}
.gallery-container{
    width: 80%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,350px);
}
.gallery-container .img-card{
    overflow:hidden;
}
.gallery-container .img-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;   
    transition: 0.5s; 
}
.gallery-container .img-card:hover img{
    transform: scale(1.5) rotate(30deg);
}

/** Modal Gallery **/
.modal-gallery{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.9);
    padding:40px;
    z-index: 99999;
    display: none;
}
.modal-gallery .close-modal{
    position: absolute;
    top:20px;
    right: 20px;
    color:#fff;
    font-size:30px;
    cursor: pointer;
}
.modal-gallery #imgModal{
    width:60%;
    margin:auto;
    display: block;
    height: 400px;
    object-fit: cover;
}
.modal-gallery .captionModal{
     color:#fff;
     display:flex;
     justify-content: center;
     font-size:19px;
     margin:20px 0px;
}
.gallery-list{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(1,100px);
}
.gallery-list img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
}
.gallery-list img:hover{
    opacity:0.5;
}

/** Go Top **/
.go-top{
    position: fixed;
    bottom:30px;
    right: 100%;
    width: 50px;
    height: 50px;
    background:#fff;
    border:3px solid #6639a6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.go-top span{
    font-size:20px;
    color:#000;
}

/** Footer **/
#footer{
    width:100%;
    height: 60px;
    background:#000;
    display:flex;
    justify-content: center;
    align-items:center;
}
#footer p{
    color:#fff;
    font-size:19px;
}
